---
import MySiteLayout from '../layouts/MySiteLayout.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<MySiteLayout>
			<p>我的页面内容，被包裹在一个布局中！</p>
		  </MySiteLayout>
	</body>
</html>
